p {
    margin: 6px;
    padding: 6px;
    border: 10px solid black;
    width: 200px;
    height: 200px;
    background-color: azure;
}
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
